<tr>
  <td><%= participant.name %></td>
  <td><%= participant.email %></td>
  <td>
    <% if participant.checkin? %>
      <div>
        <button type="button" class="btn btn-default" disabled="disabled"><%= participant.checkin.humanize %></button>
      </div>
    <% else %>
      <div>
        <%= link_to participant.checkin.humanize, {:action => "update_checkin", :id => participant.id, :remote => true}, class: "btn btn-info", id: 'button_checkin', :onclick => 'update_field(this)' %>
      </div>
    <% end %>
  </td>
  <td>
    <% if participant.kit? %>
      <div>
        <button type="button" class="btn btn-default" disabled="disabled"><%= participant.kit.humanize %></button>
      </div>
    <% else %>
      <div>
        <%= link_to participant.kit.humanize, {:action => "update_kit", :id => participant.id, :remote => true}, class: "btn btn-info", id: 'button_kit', :onclick => 'update_field(this)' %>
      </div>
    <% end %>
  </td>
  <td>
    <% if participant.paid? %>
      <div>
        <button type="button" class="btn btn-default" disabled="disabled"><%= participant.paid.humanize %></button>
      </div>
    <% else %>
      <div>
        <%= link_to participant.paid.humanize, {:action => "update_paid", :id => participant.id, :remote => true}, class: "btn btn-info", id: 'button_paid', :onclick => 'update_field(this)' %>
      </div>
    <% end %>
  </td>
  <td>
    <div>
      <label>
        <%= check_box_tag "participant_ids[]", participant.id %><br/>
      </label>
    </div>  
  </td>
  <td>
    <% if participant.credentials? %>
      <label>Yes</label>
    <% else %>
      <label>No</label>
    <% end %>
  </td>
  <td><%= link_to 'Show', admin_participant_path(participant) %></td>
  <td><%= link_to 'Edit', edit_admin_participant_path(participant) %></td>
  <td><%= link_to 'Destroy', admin_participant_path(participant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>