<tr>
  <td><%= participant.name %></td>
  <td><%= participant.email %></td>
  <td><input type="checkbox" <%= (participant.kit) ? "checked" : "" %>></td>
  <td><input type="checkbox" <%= (participant.paid) ? "checked" : "" %>></td>
  <td><input type="checkbox" <%= (participant.credentials) ? "checked" : "" %>></td>
  <td><input type="checkbox" <%= (participant.checkin) ? "checked" : "" %>></td>
  <td><%= link_to '', admin_participant_path(participant), class: "btn btn-primary glyphicon glyphicon-eye-open", title: "Show" %></td>
  <td><%= link_to '', edit_admin_participant_path(participant), class: "btn btn-primary glyphicon glyphicon-pencil", title: "Edit" %></td>
  <td><%= link_to '', admin_participant_path(participant), class: "btn btn-danger glyphicon glyphicon-remove", title: "Destroy", method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>