<%= render "shared/search", url: admin_participants_path, search_parameter: "email" %>
<div class="List">
  <div class="row">
    <div class="column">
      <%= form_for generate_credentials_admin_participants_path, :html => {:id => "form-credentials"}, method: :get do %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Checkin Done?</th>
              <th>Kit deliveried?</th>
              <th>Paid?</th>
              <th>
                <div>
                  <div>
                    <label>
                      <input type="checkbox" onClick="selectall(this)"/>Credentials<br/>
                    </label>
                    <a href="#" alt="Generate Credentials" title="Generate Credentials" type="button" class="btn btn-default icon-generate-creadentials" onclick="generateCredentials()"></a>
                  </div>
                </div>
              </th>
              <th>Credentials created?</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @participants %>
          </tbody>
        </table>
        
      <% end %>
      <p>
        <%= link_to '', new_admin_participant_path, class: "btn btn-success glyphicon glyphicon-plus", title: 'New participant' %>
      <p>
      </p>
    </div>
  </div>
</div>

<script type='text/javascript'>
  function selectall(el) {
    if(el.checked) {
      $('input[type="checkbox"]').each(function() {
          this.checked = true;          
      });
    }else{
      $('input[type="checkbox"]').each(function() {
          this.checked = false;                       
      });         
    }
  }

  function generateCredentials() {
    var form = $("#form-credentials");
    $.ajax({
      type: "GET",
      url: "/admin/participants/generate_credentials",
      dataType: "json",
      traditional: true,
      data: form.serialize(),
      success: function(data){
        $("<div>" + data[0].message + "</div>").insertBefore("#form-credentials")
          .delay(3000)
          .fadeOut(function() {
             $(this).remove(); 
          });
      }
    });
  }

  function update_field(el) {
    el.className = "btn btn-default";
    el.text = "Yes";
  }
</script>

<%= will_paginate @participants, renderer: BootstrapPagination::Rails %>

