<%= javascript_include_tag 'participants/script' %>
<%= render "shared/search", url: admin_participants_path, search_parameter: "email" %>
<div class="List">
  <div class="row">
    <div class="column">
      <%= form_for generate_credentials_admin_participants_path, :html => {:id => "form-credentials"}, method: :get do %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Checkin Done?</th>
              <th>Kit deliveried?</th>
              <th>Paid?</th>
              <th>
                <div>
                  <div>
                    <label>
                      <input type="checkbox" onClick="selectall(this)"/>Credentials<br/>
                    </label>
                    <a href="#" alt="Generate Credentials" title="Generate Credentials" type="button" class="btn btn-default icon-generate-creadentials" onclick="generateCredentials()"></a>
                  </div>
                </div>
              </th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @participants %>
          </tbody>
        </table>
        
      <% end %>
      <p>
        <%= link_to '', new_admin_participant_path, class: "btn btn-success glyphicon glyphicon-plus", title: 'New participant' %>
      <p>
      </p>
    </div>
  </div>
</div>

<%= will_paginate @participants, renderer: BootstrapPagination::Rails %>

