<div class="List">
  <div class="row">
    <h3 class="List-title">Listing Participants</h3>
    <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Checkin</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @participants.each do |participant| %>
            <tr>
              <td><%= participant.name %></td>
              <td><%= participant.email %></td>
              <td><%= participant.checkin %></td>
              <td><%= link_to 'Show', admin_participant_path(participant) %></td>
              <td><%= link_to 'Edit', edit_admin_participant_path(participant) %></td>
              <td><%= link_to 'Destroy', admin_participant_path(participant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>
        <%= link_to 'New Participant', new_admin_participant_path %>
      </p>
    </div>
  </div>
</div>
