<!-- <p id="notice"><%= notice %></p> -->
<section class="ShowParticipant">
	<h3 class="ShowParticipant-title">Participant</h3>
	<p class="ShowParticipant-name">
	  <strong>Name:</strong>
	  <%= @participant.name %>
	</p>
	<p class="ShowParticipant-email">
	  <strong>Email:</strong>
	  <%= @participant.email %>
	</p>
	<p>
	  <strong>Twitter:</strong>
	  <%= @participant.twitter %>
	</p>
	<p>
	  <strong>Github:</strong>
	  <%= @participant.github %>
	</p>
	<p>
	  <strong>Company:</strong>
	  <%= @participant.company %>
	</p>
	<p>
	  <strong>Kit?:</strong>
	  <%= @participant.kit.yesno %>
	</p>
	<p>
	  <strong>Paid?:</strong>
	  <%= @participant.paid.yesno %>
	</p>
	<p>
	  <strong>Credentials created?:</strong>
	  <%= @participant.credentials.yesno %>
	</p>
	<p class="ShowParticipant-checkin">
	  <strong>Checkin Done?:</strong>
	  <%= @participant.checkin.yesno %>
	</p>
	<p>
	  <strong>Plan:</strong>
	  <%= @participant.plan.name %>
	</p>

	<%= link_to 'Edit', edit_admin_participant_path(@participant), class: 'ShowParticipant-edit'%> |
	<%= link_to 'Back', admin_participants_path, class: 'ShowParticipant-back' %>
</section>