<!-- <p id="notice"><%= notice %></p> -->
<section class="ShowParticipant">
	<h1 class="title">Participant</h1>
	<div class="panel panel-info">
		<div class="panel-heading">
		  <h4 class="panel-title"> <%= @participant.name %> </h4>
		</div>
		<div class="panel-body">
		<div class="row">
				<table class="table table-user-information">
					<tbody>
						<tr>
							<td>Email:</td>
							<td><%= @participant.email %></td>
						</tr>
						<tr>
							<td>Checkin:</td>
							<td><%= @participant.checkin %></td>
						</tr>
					</tbody>
				</table>
			</div>	
	</div>	
	<div class="panel-footer">
		<%= link_to 'Edit', edit_admin_participant_path(@participant), class: 'ShowParticipant-edit'%> |
		<%= link_to 'Back', admin_participants_path, class: 'ShowParticipant-back' %>
	</div>
	</div>	
	
		
</section>