<section>
	<div class="panel panel-info">
		<div class="panel-heading">
		  <h4 class="panel-title"> <%= @participant.name %> </h4>
		</div>
		<div class="panel-body">
			<div class="row">
					<table class="table table-user-information">
						<tbody>
							<tr>
								<td>Email:</td>
								<td><%= @participant.email %></td>
							</tr>
							<tr>
								<td>Checkin:</td>
								<td><%= @participant.checkin %></td>
							</tr>
							<tr>
								<td>Twitter:</td>
								<td><%= @participant.twitter %></td>
							</tr>
							<tr>
								<td>Github:</td>
								<td><%= @participant.github %></td>
							</tr>
							<tr>
								<td>Company:</td>
								<td><%= @participant.company %></td>
							</tr>
							<tr>
								<td>Checkin:</td>
								<td><%= @participant.checkin.humanize %></td>
							</tr>
							<tr>
								<td>Kit?:</td>
								<td><%= @participant.kit.humanize %></td>
							</tr>
							<tr>
								<td>Paid:</td>
								<td><%= @participant.paid.humanize %></td>
							</tr>
							<tr>
								<td>Credentials created?:</td>
								<td><%= @participant.credentials.humanize %></td>
							</tr>
							<tr>
								<td>Checkin Done?:</td>
								<td><%= @participant.checkin.humanize %></td>
							</tr>
							<tr>
								<td>Plan:</td>
								<td><%= @participant.plan.name %></td>
							</tr>
						</tbody>
					</table>
				</div>	
		</div>	
		<div class="panel-footer">
			<%= link_to 'Back', admin_participants_path, class: 'btn btn-default glyphicon glyphicon-chevron-left', title: 'Back' %>
			<%= link_to '', edit_admin_participant_path(@participant), class: 'btn btn-primary glyphicon glyphicon-pencil', title: 'Edit' %>	
		</div>
	</div>	
</section>