<div class="Login-logo">
  <%= image_tag("logo.png", :alt => "logo", class:'logo') %>
</div>

<h2 class="title"><%= t 'devise.invitations.edit.header' %></h2>

<div class="col-md-offset-5 col-md-3">
	<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :invitation_token %>
		
		<div class="margin-top-bottom">
	  	<p><%= f.label :password %><br />
	  	<%= f.password_field :password %></p>
		</div>
	  
	  <div class="margin-top-bottom">
		  <p><%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation %></p>
		</div>  
	  <p><%= f.submit t("devise.invitations.edit.submit_button"), class: 'btn btn-primary' %></p>
	<% end %>
</div>
