<section>
	<div class="panel panel-info">
		<div class="panel-heading">
		  <h4 class="panel-title"> <%= @plan.name %> </h4>
		</div>
		<div class="panel-body">
			<div class="row">
					<table class="table table-user-information">
						<tbody>
							<tr>
								<td>Description:</td>
								<td><%= @plan.description %></td>
							</tr>
							<tr>
								<td>Price:</td>
								<td><%= @plan.price %> €</td>
							</tr>
							<tr>
								<td>Start time:</td>
								<td><%= @plan.custom_format_date %></td>
							</tr>
						</tbody>
					</table>
				</div>	
		</div>	
		<div class="panel-footer">
			<%= link_to 'Back', admin_plans_path, class: 'btn btn-default glyphicon glyphicon-chevron-left', title: 'Back' %>
			<%= link_to '', edit_admin_plan_path(@plan), class: 'btn btn-primary glyphicon glyphicon-pencil', title: 'Edit' %>	
		</div>
	</div>
</section>