<section class= "User">
  <%= form_for user, url: url  do |f| %> 
    <% if user.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="User-name">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="User-password">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="User-confirmation">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <div class="User-buttom">
      <%= f.submit "Create User", class: 'btn btn-primary' %>
    </div>
  <% end %>
</section>  