<tr>
	<td>
	  <%= link_to user.email, admin_user_path(user) %>
	</td>
	<td>
	  <%= form_for(user, url: admin_user_path(user)) do |f| %>
	    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
	    <%= f.submit 'Change Role', class:  'btn btn-primary' %>
	  <% end %>
	</td>
	<td>
	  <%= link_to('', admin_user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, title: 'Delete user', class: 'btn btn-danger glyphicon glyphicon-remove') unless user == current_admin_user %>
	</td>
</tr>
