<!DOCTYPE html>
<html>
<head>
  <title>ProjectoG5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? && current_user.admin? %>
  <nav>
    <ul>
      <li><%= link_to 'Participants', participants_path %></li>
      <li><%= link_to 'Users', users_admin_index_path %></li>
    </ul>
  </nav>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  <p><%= current_user.email %></p>
  <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
<% else %>
	<p>
		<%= link_to "Login", new_user_session_path %>
	</p>
<% end %>

<%= yield %>

</body>
</html>
